<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/XHTML1/DTD/XHTML1-Transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>留言区</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link href="/public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/public/stylesheets/opa-icons.css"  rel="stylesheet" type="text/css" /> 
	<link href="/public/stylesheets/words-board.css" rel="stylesheet" type="text/css" />	
	<script type="text/javascript" src="/public/javascripts/jquery1.83.js"></script>
	<script type="text/javascript" src="/public/javascripts/page-bar.js"></script>
	<script type="text/javascript" src="/public/javascripts/words-board.js"></script>
	<script type="text/javascript" src="/public/javascripts/words-count.js"></script>
</head>
<body>
<ul id="list">
#{list items:orderList,as:'orderList'}

		             	<!-- 每个 li 是 1 页留言，包括 10 条留言（即 10 个 div）-->
		             	<li>
                      <div class="words-list" id="words-list">
		             		<!-- 下面是一条留言的 div 开始 -->
			                <div class="a-list"> 
														<div class="list-details">
															<i class="icon32 icon-color icon-bullet-off"></i>
																	<span class="name">${orderList.address}</span>
																	<span class="time">${orderList.milk}</span>
																	<span class="floor">${orderList.phone}</span>
																	<span class="name">${orderList.messages}</span>
																	<span class="time">${orderList.boxCount}</span>
																	<span class="floor">${orderList.date}</span>
																	<span class="floor">${orderList.messages}</span>
																			<span class="comment">

																			</span>						
														 </div>
					         	
							 </div>
	
				 </div>

</li>
	<!-- container -->      
#{/list}
	</ul>				
	
	<!-- 页脚 -->
	<div class="footer">
		<p>COPYRIGHT © 2012 - 2013 DESIGNED BY HCier<p>
	</div>
</body>
</html>