<html>
<head>提交订单</head>
<body>
	#{form @sendOrder()}
			#{field 'ordered.username'}
			<p>${message}<p>
			<p>
				<label for="username" class="username">姓名：</label>
				<input id="username"  type="text" name="${field.name}"required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.province'}
			<p>
				<label for="province" class="province">省：</label>
				<input id="province"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.city'}
			<p>
				<label for="city" class="city">城市：</label>
				<input id="city"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.address'}
			<p>
				<label for="address" class="address">街道：</label>
				<input id="address"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.phone'}
			<p>
				<label for="phone" class="phone">联系电话：</label>
				<input id="phone"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.IDCard'}
			<p>
				<label for="IDCard" class="IDCard">身份证号码：</label>
				<input id="IDCard"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.milk1'}
			<p>
				<label for="milk1" class="milk1">产品1：</label>
				<input id="milk1"  type="text" name="${field.name}" required="required"> 
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.count1'}
			<p>
				<label for="count1" class="count1"> 数量：</label>
				<input id="count1"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.milk2'}
			<p>
				<label for="milk2" class="milk2">产品2：</label>
				<input id="milk2"  type="text" name="${field.name}" required="required"> 
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.count2'}
			<p>
				<label for="count2" class="count2"> 数量：</label>
				<input id="count2"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.milk3'}
			<p>
				<label for="milk3" class="milk3">产品3：</label>
				<input id="milk3"  type="text" name="${field.name}" required="required"> 
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			#{field 'ordered.count3'}
			<p>
				<label for="count3" class="count3"> 数量：</label>
				<input id="count3"  type="text" name="${field.name}" required="required"><br />
				<span class="error">${field.error}</span>
			</p>
			#{/field}
			
			<p class="register-button">
			<input class="signup  button" name="register" type="submit" value="提交">
			</p>
		#{/form}
</body>