<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- <html xmlns="http://www.w3.org/1999/xhtml" manifest="public/car.manifest"> -->
<head>
	<title>国产汽车网 - 让更多人了解我们自己的民族品牌</title>
	<meta name="keywords" content="国产汽车" />
	<meta name="discription" content="国产汽车，为的是一份情怀" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<link href="public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/opa-icons.css"  rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<link href="public/stylesheets/showSeries.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="public/images/favicon.ico" />
	<script src="public/javascripts/jquery1.83.js" type="text/javascript"></script>
	<script src="public/javascripts/words-count.js" type="text/javascript"></script>
	<script src="public/javascripts/scroll-top-control.js" type="text/javascript"></script>
    <script src="public/javascripts/car-show.js" type="text/javascript"></script>      
	<script src="public/javascripts/showSeries.js" type="text/javascript"></script>      
</head>
<body>
	<!-- 最顶部快捷条包括登录和注册 -->
	<div class="header">
		<div class="banner">
			<a href="index.html" class="banner-title">国产汽车</a>
			<span class="milk-theme">我们的汽车，我们的情怀</span>
			<div class="login-regist">
				<a href="login.html" id="login" class="login">登录</a>
				|
				<a href="register.html" class="regist">注册</a>
			</div>
		</div>
	</div>
	<div class="container">
	<!-- 右边固定在屏幕边上的联系方式 --> 
	<div class="contact-us">
		<div class="contact-area">
			<a href="email.html">联系我们</a>
		</div>
	</div>

		#{list items:carSeriesList,as:'carserieslist'}

		<div id="carSeries">
			<div class="showCar">
				<img src="${carserieslist.path}" />
    				<table class="carSeriesTable">
                        <tr>
    					   <td>最低价</td>
                           <td>${carserieslist.bottomPrice}</td>
                        </tr>
    					<tr>
                           <td>油耗</td>
                           <td>${carserieslist.fuelConsumption}</td>
                        </tr>
    					<tr>
                           <td>星级</td>
                           <td id="levelShow">
                               <ul class="noStar">
                                   <li>1</li>
                                   <li>2</li>
                                   <li>3</li>
                                   <li>4</li>
                                   <li>5</li>
                               </ul>
                           </td>
                        </tr>
                    </table>
                    <input id="level" type="hidden" value="${carserieslist.startLevel}" />
				<div class="carComment">
                #{form @addCarComment(), id:'commentForm' }
                    #{field 'comment.content'}
    					<input class="input-box" type="textarea" name="carCommentType" id="carCommentType" required="required" placeholder="我来点评" >
                        <input type="hidden" name="id" value="${carserieslist.id}" />
                    #{/field }
					<input id="commentBtn" class="btn btn-info" type="button" name="submit" value="点评">
                #{/form}
				</div>
			</div>
			<ul class="carComments">
			#{list items:carserieslist.carComments,as:'carcomments'}
				<li>
                    <i class="icon32 icon-color icon-bullet-off"></i>
					<span class="author">${carcomments.user}</span>
                    <input type="hidden" class="isAdmin" value="true">
                    <span class="time">${carcomments.carCommentTime}</span>
					<div class="comment">${carcomments.commentType}</div>
				</li>
			#{/list}
			</ul>
			<div class="clear"></div>
		</div>

		#{/list}

	</body>
</html>